<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Manage Users</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <header class="header">
      <a href="{{ url_for('logout') }}" class="logout-link">Logout</a>
      <nav><a href="{{ url_for('home_page') }}">Return Homepage</a></nav>
    </header>
    <div class="user-table">
      <img
        src="{{ url_for('static', filename='images/logo.png') }}"
        alt="Pet Recovery Logo"
        class="logo other-logo"
      />

      <table>
        <thead>
          <tr>
            <th>Email</th>
            <th>Role</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for user in users %}
          <tr>
            <td>
              <form method="post" action="{{ url_for('update_user', user_id=user.id) }}" class="inline-form">
                <input type="email" name="email" value="{{ user.email }}" class="cell" required/>
            </td>
            <td>
              <select name="role"  class="cell" required>
                <option value="admin" {{ 'selected' if user.role.lower() == 'admin' else '' }}>Admin</option>
                <option value="veterinarian" {{ 'selected' if user.role.lower() == 'veterinarian' else '' }}>Veterinarian</option>
                <option value="assistant" {{ 'selected' if user.role.lower() == 'assistant' else '' }}>Assistant</option>
                <!-- Add more roles as needed -->
              </select>
            </td>
            <td>
                <button type="submit" class = "update-button">Update</button>
              </form>
              <form
                method="post"
                action="{{ url_for('delete_user', user_id=user.id) }}"
                class="inline-form"
              >
                <button type="submit" class = "update-button">Delete</button>
              </form>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <footer class="footer">
      @2024 Pet Recovery Veterinary Diagnostic System - By TP055347 APU FYP
    </footer>
  </body>
</html>
