<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script>
        function togglePassword() {
            var passwordInput = document.getElementById('password');
            var toggleBtn = document.getElementById('togglePassword');
            if (passwordInput.type === 'password') {
                passwordInput.type = 'text';
                toggleBtn.src = "{{ url_for('static', filename='images/close.png') }}"; // path to 'eye slash' icon
            } else {
                passwordInput.type = 'password';
                toggleBtn.src = "{{ url_for('static', filename='images/open.png') }}"; // path to 'eye' icon
            }
        }
    </script>
</head>
<body>
    <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Pet Recovery Logo" class="logo">
    <div class="login-container">
        {% if error %}
        <p class="error-message">{{ error }}</p>
        {% endif %}
        <form action="/login" method="post">
            <div class="input-field">
                <label for="email">Email:</label>
                <input type="email" name="email" required>
            </div>
            <div class="input-field">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
                <img src="{{ url_for('static', filename='images/open.png') }}" alt="Show Password" id="togglePassword" onclick="togglePassword()" class="toggle-password">
            </div>
            <div class="login-button-container">
                <button type="submit" class="login-button">Login</button>
            </div>        
        </form>
    </div>
    <footer class="footer">
        @2024 Pet Recovery Veterinary Diagnostic System - By TP055347 APU FYP
    </footer>
</body>
</html>
